.movie-card {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  .movie-poster img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.6s;
  }

  .movie-infos {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #000000 90%);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;

    .movie-title {
      font-size: 12px;
      color: #f1f5f9;
      margin-bottom: 6px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hidden-content {
      color: #f1f5f9;
      font-size: 12px;
      margin-top: 8px;
      height: 0px;
      opacity: 0;
      transition: all 0.6s;

      .btn-default {
        width: 100%;
        background-color: #6046ff;
        padding: 6px 8px;
        border-radius: 4px;
        margin-top: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: ease-in-out 0.2s;

        &:hover {
          background-color: #4c30fe;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    .movie-poster img {
      opacity: 0.5;
    }
    //  &:hover {
    //   opacity: 0.5;
    // }

    .hidden-content {
      opacity: 1;
    }

    .movie-infos:has(.description) .hidden-content {
      height: 100px;
    }

    .movie-infos:not(:has(.description)) .hidden-content {
      height: 40px;
    }
  }
}
