.navbar {
  width: 100%;
  height: auto;
  padding: 12px 3%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  .title_navbar {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-style: italic;
  }
}
